<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ua.com.radiokot.pc">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <queries>
        <package android:name="com.google.ar.lens" />
    </queries>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="${fabricApiKey}" />

        <activity
            android:name=".activities.books.BooksActivity"
            android:windowSoftInputMode="adjustResize"
            android:configChanges="orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.LoginActivity"
            android:configChanges="screenSize|orientation"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".activities.add_book.AddBookActivity"
            android:configChanges="orientation|screenSize" />
        <activity android:name=".activities.quotes.QuotesActivity"
            android:configChanges="orientation|screenSize"/>
        <activity android:name=".activities.EditQuoteActivity"
            android:configChanges="orientation|screenSize"/>
        <activity android:name=".activities.TwitterOauthActivity"
            android:configChanges="orientation|screenSize" />
        <activity android:name=".activities.ProfileInfoActivity"
            android:configChanges="orientation|screenSize" />
    </application>

</manifest>